<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trang Them Sinh vien</title>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

<div class="container mt-5">
    <h2 class="mb-4">Them sinh vien</h2>

    <form action="" th:action="@{/hande-add}" th:object="${student}" method="post">
        <div class="form-group">
            <!--    id-->
            <label th:for="*{id}">ID</label>
            <input type="text"
                   class="form-control" th:field="*{id}" aria-describedby="helpId" placeholder="Nhap id">

            <!--    bame-->
            <label th:for="*{name}" class="mt-3">Name</label>
            <input type="text"
                   class="form-control" th:field="*{name}" aria-describedby="helpId" placeholder="Nhap tên">

            <!--    gender-->
            <div class="form-check mt-3">
                <label class="form-check-label mr-3">
                    <input type="radio" class="form-check-input" th:field="*{gender}" value="true">
                    Nam
                </label>
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" th:field="*{gender}" value="false">
                    Nu
                </label>
            </div>

            <!--    age-->
            <label th:for="*{age}" class="mt-3">Age</label>
            <input type="number"
                   class="form-control" th:field="*{age}" aria-describedby="helpId" placeholder="Nhap tuoi">

            <!--    adresss-->
            <div class="form-group mt-3">
                <label th:for="*{address}">Address</label>
                <textarea class="form-control" th:field="*{address}" rows="3" placeholder="Nhap dia chi"></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Them sinh vien</button>
            <a th:href="@{/}" class="btn btn-secondary">Quay lai</a>
        </div>
    </form>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</body>
</html>